#!/usr/bin/make -f
#
# This debian/rules uses debhelper.
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with yang

override_dh_systemd_enable:
	dh_systemd_enable --package vyatta-service-bridge-mstp --name=vyatta-mstpd
