#!/usr/bin/make -f
#
# This debian/rules uses debhelper.
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with yang

override_dh_installsystemd:
	dh_installsystemd --package vyatta-service-bridge-mstp --name=vyatta-mstpd

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	prove tests/
endif
